@layer theme, base, antd, components, utilities;
@import "tailwindcss";

.desktop .wcl + .wcl::before {
  content: "";
  width: 100%;
  color: gray;
  border-top: 1px solid gray;
  height: 1px;
  margin: 1px 0;
  display: block;
}

.mobile .wcl + .wcl::before {
  content: "/";
  color: gray;
  margin: 0 1px;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .ant-layout-header {
    padding: 0 16px;
  }
}
